@use "../../lib/service.scss" as s;

main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	padding: s.space(10);
}

.form {
	display: flex;
	flex-direction: column;
	padding: s.space(4);
	gap: s.space(8);

	&__title {
		font-size: 25px;
		color: s.color('primary');
		font-weight: 500;
		padding-bottom: s.space(1);
	}

	&__card {
		padding: 20px;
		border-radius: 10px;
		box-shadow: 5px 5px 10px #ddd;
	}

	&__content {
		display: grid;
		gap: s.space(6);

		justify-items: stretch;
    	align-items: center;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: s.space(4);
	}

	&__field {
		display: flex;
		flex-direction: column;
		gap: s.space(2);
	}

	&__label {
		font-size: 14px;
	}

	&__input {
		border: 1px solid s.color('light');
		border-radius: 5px;
		padding: s.space(2);
	}

	&__helper {
		color: #888;
		font-size: 12px;
	}

	&__two-column {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: s.space(4);
	}

	&__button {
		background-color: s.color('primary');
		color: #fff;
		border: 1px solid s.color('light');
		padding: s.space(2);
		border-radius: 5px;
	}

	&__delete-button {
		background-color: #dc4535;
	}
}

.card {
	&__title {
		font-size: 18px;
		font-weight: 500;
		padding-bottom: s.space(2);
	}
}