<main>
	<div class="form">
		<div class="form__card">
			<div class="form__content">
				<div>
					<h1 class="card__title">Успішне виконання дії</h1>
					<p class="form__label">{{data.info}}</p>
				</div>
				<a class="form__button" href="/product-list">Повернутися назад</a>
			</div>
		</div>
	</div>
</main>