<main class="main">
	<div class="main__content">
		<header class="header">
			<a href="/">
				<img src="/img/svg/cross_back.svg">
			</a>
		</header>
		<h1 class="title title--center title--small">Add a name</h1>

		<form action="/spotify-create{{#if data.isMix}}?isMix=true{{/if}}" method="POST" class="form">

			<input required type="text" class="form__field" placeholder="Name" name="name">

			<button class="form__button">Create</button>

		</form>
	</div>
</main>