<main>
	<section>
		<div class="form">
			<h1 class="form__title">Список товарів</h1>
			<div class="form__content">
				{{#with data.products}}
				{{#each list}}
				{{> product-card.hbs}}
				{{/each}}
				{{/with}}
			</div>
		</div>
	</section>
</main>